KotlinTest/.idea/runConfigurations.xml
KotlinTest/.idea/misc.xml
KotlinTest/.idea/gradle.xml
KotlinTest/.idea/codeStyles/codeStyleConfig.xml
KotlinTest/.idea/codeStyles/Project.xml
KotlinTest/app/src/androidTest/java/com/example/kotlintest/ExampleInstrumentedTest.kt
KotlinTest/app/proguard-rules.pro
